<a href="https://colab.research.google.com/github/QABoahene/Data-Cleaning-Bits/blob/master/Police_Brutality_Against_Black_Americans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Black Men Killed Between 2015 and 2016

As racism and police brutality have been going hand in hand in America with people losing thier loved ones daily, I decided to get a dataset on that and explore the statistics. Sadly the readily available dataset dates between 2015 and 2016. I will be doing more searches for a better dataset and update this project or do another one. This is only for the Black race and nothing else matters at the moment. I will be CLEANING the data to have a final dataset that I can use for visualisation in Tableau. 

The main dataset is found here: https://data.world/data-society/fatal-police-shootings

## Let's Begin! #BlackLivesMatter

In [0]:
#Importing Libraries
import pandas as pd
import numpy as np
policebrutality = pd.read_csv('Police Brutality Dataset.csv')
policebrutality.sample(10)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
922,1068,Derek Stokes,2015-12-08,shot,gun,33.0,M,B,Cleveland,OH,False,attack,Not fleeing,False
692,831,Phillip Pfleghardt,2015-09-11,shot,gun,44.0,M,W,Broomfield,CO,False,attack,Car,False
1715,1930,Najier Salaam,2016-09-30,shot,undetermined,18.0,M,B,Newark,NJ,False,undetermined,Not fleeing,False
1563,1753,Kenneth Eugene Bonanno,2016-08-01,shot,gun,67.0,M,W,Stafford,VA,False,attack,Not fleeing,False
955,1102,Robert L. Martinez,2015-12-18,shot,gun,58.0,M,H,Taos,NM,False,attack,Not fleeing,False
1848,2066,Ivory C. Pantallion,2016-11-22,shot,gun,36.0,M,NaN,Baytown,TX,False,other,Car,False
294,399,Santos Cortez Hernandez,2015-04-20,shot,gun,25.0,M,H,Mission,TX,False,other,Not fleeing,False
18,37,Thomas Hamby,2015-01-08,shot,gun,49.0,M,W,Syracuse,UT,False,attack,Not fleeing,True
901,1227,Fernando Sauceda,2015-11-30,shot,undetermined,31.0,M,H,Wink,TX,False,other,Not fleeing,False
1050,1205,Johnathan Bratcher,2016-01-27,shot,gun,32.0,M,B,Memphis,TN,False,attack,Other,True

In [0]:
#Checking the number of rows and columns of the data 
policebrutality.shape

(1851, 14)

In [0]:
policebrutality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1851 entries, 0 to 1850
Data columns (total 14 columns):
id                         1851 non-null int64
name                       1851 non-null object
date                       1851 non-null object
manner_of_death            1851 non-null object
armed                      1846 non-null object
age                        1815 non-null float64
gender                     1851 non-null object
race                       1710 non-null object
city                       1851 non-null object
state                      1851 non-null object
signs_of_mental_illness    1851 non-null bool
threat_level               1851 non-null object
flee                       1828 non-null object
body_camera                1851 non-null bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 177.2+ KB

In [0]:
#Exploring to find the missing data so we can clean them
policebrutality.isnull().sum()

id                           0
name                         0
date                         0
manner_of_death              0
armed                        5
age                         36
gender                       0
race                       141
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        23
body_camera                  0
dtype: int64

In [0]:
policebrutality1 = policebrutality.dropna() #Dropping rows with null values
policebrutality1.isnull().sum()

id                         0
name                       0
date                       0
manner_of_death            0
armed                      0
age                        0
gender                     0
race                       0
city                       0
state                      0
signs_of_mental_illness    0
threat_level               0
flee                       0
body_camera                0
dtype: int64

In [0]:
policebrutality1.shape

(1674, 14)

In [0]:
policebrutality1.columns #I wanted to see the column names

Index(['id', 'name', 'date', 'manner_of_death', 'armed', 'age', 'gender',
       'race', 'city', 'state', 'signs_of_mental_illness', 'threat_level',
       'flee', 'body_camera'],
      dtype='object')

# Exploring the races

In [0]:
#B is for BLACK and thats what matters
policebrutality1['race'].unique()

array(['A', 'W', 'H', 'B', 'O', 'N'], dtype=object)

In [0]:
BlackLivesMatter = ['B']

In [0]:
blm = policebrutality1[policebrutality1['race'].isin(BlackLivesMatter)]
blm.sample(5)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
596,715,Andre Green,2015-08-09,shot,vehicle,15.0,M,B,Indianapolis,IN,False,attack,Not fleeing,False
26,49,Marcus Golden,2015-01-14,shot,vehicle,24.0,M,B,St. Paul,MN,False,attack,Not fleeing,False
912,1057,Raymone M. Davis,2015-12-04,shot,gun,21.0,M,B,Mount Washington,PA,False,attack,Not fleeing,False
1505,1694,Philando Castile,2016-07-06,shot,undetermined,32.0,M,B,Falcon Heights,MN,False,other,Not fleeing,False
1667,1879,Gregory Frazier,2016-09-09,shot,knife,55.0,M,B,Pompano Beach,FL,False,other,Not fleeing,False

In [0]:
blm.shape

(443, 14)

## Exploring the Manner of death feature

In [0]:
blm['manner_of_death'].unique() #Getting the unique values of the manner of death column

array(['shot', 'shot and Tasered'], dtype=object)

In [0]:
blm.groupby('manner_of_death')['manner_of_death'].agg('count') #Grouping and summing the manner of deaths

manner_of_death
shot                419
shot and Tasered     24
Name: manner_of_death, dtype: int64

# Exploring the armed feature

In [0]:
blm['armed'].unique()

array(['toy weapon', 'gun', 'knife', 'unarmed', 'vehicle', 'undetermined',
       'machete', 'hammer', 'flagpole', 'sword', 'metal hand tool',
       'box cutter', 'chain', 'guns and explosives', 'unknown weapon',
       'gun and knife', 'baseball bat', 'pole', 'Taser', 'ax',
       'piece of wood', 'motorcycle'], dtype=object)

In [0]:
blm.groupby('armed')['armed'].agg('count')

armed
Taser                    1
ax                       1
baseball bat             2
box cutter               2
chain                    1
flagpole                 1
gun                    251
gun and knife            1
guns and explosives      2
hammer                   1
knife                   47
machete                  3
metal hand tool          1
motorcycle               1
piece of wood            1
pole                     1
sword                    1
toy weapon              17
unarmed                 52
undetermined            21
unknown weapon           5
vehicle                 30
Name: armed, dtype: int64

In [0]:
BLM = blm.drop('id', axis = 1)
BLM.sample(5)

,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
949,Ronnie Dubose Carter,2015-12-15,shot,vehicle,51.0,M,B,Dallas,NC,False,attack,Car,False
319,Jared Johnson,2015-04-28,shot,gun,21.0,M,B,New Orleans,LA,False,attack,Not fleeing,True
226,Jeremy Lorenza Kelly,2015-03-25,shot,gun,27.0,M,B,Johnsonville,SC,False,attack,Foot,False
700,Tyrone Bass,2015-09-15,shot,unknown weapon,21.0,M,B,Chalmette,LA,False,attack,Not fleeing,False
1301,Demarcus Semer,2016-04-23,shot,vehicle,21.0,M,B,Fort Pierce,FL,False,attack,Car,False

In [0]:
BLM['flee'].unique()

array(['Not fleeing', 'Foot', 'Car', 'Other'], dtype=object)

In [0]:
blm.groupby('flee')['flee'].agg('count')

flee
Car             64
Foot            87
Not fleeing    279
Other           13
Name: flee, dtype: int64

I have what I need to start my project. If you're seeing this now, I will upload a link to the Tableau Dashboard when it is finished.

In [0]:
BLM.to_csv('BlackLivesMatter.csv', index = False, header = True)